* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* font-weight: 600, 1000; */
}
.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(../src/images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.maincard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%);
  /* border: rebeccapurple solid 5px; */
  /* max-height: 50vh; */
  width: 50vw;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 10px 10px rgba(146, 124, 124, 0.308);
}
.priceinfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* border: red solid 3px; */
}
.plantprice {
  color: gray;
  font-weight: bold;
  font-size: 17px;
}
.cost {
  font-size: 200%;
}
.scroll {
  width: 100%;
  background: hsl(174, 86%, 45%);
  /* border: 2px solid blue; */
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(174, 86%, 45%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(174, 86%, 45%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
button {
  background-color: rgb(128, 176, 128);
  font-weight: 100;
  padding: 3px;
  margin: auto;
  color: azure;
  height: 30%;
  font-size: larger;
  /* font-weight: bold; */
  border-radius: 20px;
  border: none;
  overflow-wrap: break-word;
  padding: 10px;
}
.trial {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid salmon; */
  width: 100%;
  max-height: 50vh;
}
.trial > ul {
  list-style: none;
}
.trial > li {
  text-align: left;
  line-height: 2;
  margin-right: 10px;
}
@media screen and (max-width: 1000px) {
  .priceinfo {
    flex-direction: column;
  }
  .trial {
    flex-direction: column;
  }
}
button:hover {
  cursor: pointer;
}
.toggle > h3 {
  margin: 10px;
  color: rgb(163, 159, 159);
  /* font-weight: lighter; */
  font-size: 14px;
}
.plants {
  display: flex;
  height: 20vh;
}
.plants > img {
  justify-content: center;
  align-items: center;
  object-fit: fill;
  width: 10vw;
  margin: 5px;
}
.grayPlant {
  filter: grayscale(60%);
}
